{% extends "base.html" %} {% load static %} {% block title %}404 - Cheche
Coding{% endblock %} {% block content %}
<!-- ================================
    Start Content
    ================================= -->
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">404</h1>
            <p class="lead mb-0">We couldn't find that page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <p class="mb-4">
            It seems the page you were looking for doesn't exist or was moved.
          </p>
          <a href="/" class="btn btnPrimary">Back to home</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
    End Content
    ================================= -->

{% endblock %}
