{% extends 'base.html' %} {% load static %} {% block title %}Contact - Cheche
Coding{% endblock %} {% block content %}

<!-- ================================
    Start Content
    ================================= -->
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Contact us below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="sectionSpaceSm">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4 p-md-5">
                <form id="contactForm">
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                      placeholder="Your name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="you@example.com"
                    />
                  </div>
                  <div class="mb-4">
                    <label for="message" class="form-label">Message</label>
                    <textarea
                      id="message"
                      name="message"
                      class="form-control"
                      placeholder="Write something..."
                      rows="6"
                    ></textarea>
                  </div>
                  <button class="btn btnPrimary w-100" type="submit">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
    End Content
    ================================= -->

{% endblock %}
