{% extends "base.html" %}
{% load static %}
{% block title %}Blog Test - Cheche Coding{% endblock %}

{% block content %}
<div style="background: red; padding: 50px; margin: 50px; border: 3px solid black;">
    <h1 style="color: white; font-size: 48px;">BLOG PAGE TEST</h1>
    <p style="color: white; font-size: 24px;">If you can see this, the blog template is working!</p>
</div>

<div style="background: white; padding: 50px; margin: 50px; border: 3px solid blue;">
    <h2>Blog Posts</h2>
    <p>This should be the actual blog content area.</p>
</div>
{% endblock %}
